@import "../theme.scss";

.Experience_container {
  color: $bg-color;

  padding: 2.5em 10em;
}

.Experience_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.Experience_container h1 {
  color: $color1;
  font-size: $bg-size-2;
  opacity: $font-opacity;

  margin-top: 0;
}

.Boxes {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
