@use "../theme.scss";

.Experience_container {
  color: theme.$bg-color;
  padding: 2.5em 0em;

  h1 {
    color: theme.$color1;
    font-size: theme.$bg-size-2;

    margin-top: 0;
  }
}

.Experience_grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.Boxes {
  display: flex;
  flex-direction: column;
  gap: .3rem;
}

@media only screen and (max-width: 55em) {
  .Experience_container {
    margin-left: 0rem;
    margin-right: 0rem;

    h1 {
      margin-left: 0.75rem;
      font-size: theme.$size-phone-title;
      text-align: left;
    }
  }

  .Boxes {
    padding: 0 0.75rem;
  }
}
