@import "../theme.scss";

.Box_container {
  background-color: $color3;
  padding: 1.3rem 1.5rem;

  border-radius: 0.5rem;
  border: 2px solid transparent;
  transition: background-color 0.3s;

  &:hover {
    color: $color3;
    background-color: $color5;
    cursor: pointer;
  }
}

.Box_title {
  font-size: $size-3;
  font-weight: 510;
  margin-bottom: 0.2rem;
}


.Box_description {
  font-size: $size-5;
}
