@import "../theme.scss";

.About_container {
  color: $bg-color;
  background-color: $color1;

  display: flex;
  flex-direction: row;
  gap: 4em;

  padding: 2.5em 10em;
  margin-left: -10rem;
  margin-right: -10rem;

  h1 {
    font-size: $bg-size-1;
    opacity: $font-opacity;
    margin-top: 0em;
  }

  p {
    font-size: $size-3;
  }
}

@media only screen and (max-width: 55em) {
  .About_container {
    flex-direction: column;
    margin-left: 0rem;
    margin-right: 0rem;
    padding-left: 1rem;
    padding-right: 1rem;

    gap: 0em;
    font-size: $padding-phone;

    h1 {
      margin-bottom: 0;
    }
  }
}
