@use "../theme.scss";

.About_container {
  color: theme.$bg-color;
  background-color: theme.$color1;

  display: flex;
  flex-direction: row;
  gap: 4em;

  padding: 2.5em 10em;
  margin-left: -10rem;
  margin-right: -10rem;

  /*
  h1 {
    font-size: theme.$bg-size-1;
    opacity: theme.$font-opacity;
    margin-top: 0em;

    // animations
    animation: fadeIn ease 6s;
    -webkit-animation: fadeIn ease 6s;
    -moz-animation: fadeIn ease 6s;
    -o-animation: fadeIn ease 6s;
    -ms-animation: fadeIn ease 6s;
  }
  */

  p {
    font-size: theme.$size-3;

    // animations
    animation: fadeIn ease 7s;
    -webkit-animation: fadeIn ease 7s;
    -moz-animation: fadeIn ease 7s;
    -o-animation: fadeIn ease 7s;
    -ms-animation: fadeIn ease 7s;
  }
}

@media only screen and (max-width: 55em) {
  .About_container {
    flex-direction: column;
    margin-left: 0rem;
    margin-right: 0rem;
    padding-left: 1rem;
    padding-right: 1rem;

    gap: 0em;
    font-size: theme.$padding-phone;

    h1 {
      margin-bottom: 0;
    }
  }
}

// Animation section

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
