@use 'sass:color';
@use "../theme.scss";

.Skills_container {
  padding: 2.5em 10em;
  margin-left: -10rem;
  margin-right: -10rem;

  h1 {
    color: theme.$color1;
    font-size: theme.$bg-size-2;
    margin: 0;
  }

  h2 {
    color: theme.$color2;
    font-size: theme.$size-3;

    text-align: right;
  }
}

.Skills_list {
  justify-content: right;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  gap: 0.3rem;
}

.Skills_box h3 {
  color: theme.$color1;
  background-color: theme.$bg-color;

  border-radius: 0.5rem;
  border: 1.5px solid #a4b1cd;

  padding: 0.6rem 0.7rem;
  margin: 0 0;

  transition: background-color 0.3s;

  &:hover {
    color: theme.$bg-color;
    background-color: color.scale($color: theme.$color3, $lightness: 10%);
    transform: translateY(-1px);
  }
}

.Resume_box {
  display: flex;
  justify-content: right;
  padding-top: 2rem;

  a {
    padding: 0.9rem 1.7rem;
    text-align: center;
    text-decoration: none;
    font-size: theme.$size-3;
    font-weight: 510;

    color: theme.$color1;
    background-color: theme.$bg-color;
    border-radius: 0.7rem;
    border: 1.5px solid #a4b1cd;

    cursor: pointer;

    &:hover {
      background-color: theme.$color4;
      color: white;
    }
  }
}

@media only screen and (max-width: 55em) {
  .Skills_container {
    margin-left: 0rem;
    margin-right: 0rem;
    padding-left: theme.$padding-phone;
    padding-right: theme.$padding-phone;

    h1 {
      font-size: theme.$size-phone-title;
    }
  }
}
