@import "./theme.scss";

.App {
  background-color: $bg-color;
  min-height: 100vh;
  width: 100vw;

  font-family: $font;
}

.Container {
  display: flex;
  flex-direction: column;

  padding-left: 10rem;
  padding-right: 10rem;
}

.Nav {
  display: flex;
  flex-direction: row;
  min-height: 10vh;
}

.Icon {
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

.Nav_content {
  color: $color2;

  display: flex;
  justify-content: right;
  align-items: center;
  margin-left: auto;

  gap: 0.3rem;

  * {
    display: flex;
    font-size: 1.25rem;
    padding: 0.75rem;
    color: $color1;
    text-decoration: none;
    background-color: $bg-color;
    border: 0;

    &:hover {
      color: $color3;
      transform: translateY(-1px);
    }
  }
}

@media only screen and (max-width: 55em) {
  .Container {
    padding: 0;
  }
  .Nav {
    flex-direction: column;
    width: 100vw;
    align-items: center;
  }
  .Icon {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
  .Nav_content {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }
}
