$color1: #160040;
$color2: white;
$color3: #e0aaff;

.App {
  background-color: $color2;
  min-height: 100vh;
  width: 100vw;

  font-family: sans-serif;
}

.Container {
  display: flex;
  flex-direction: column;
}

.Nav {
  display: flex;
  flex-direction: row;
  min-height: 10vh;

  padding-left: 10em;
  padding-right: 10em;
}

.Icon {
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

.Nav_content {
  color: $color2;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-left: auto;

  gap: 0.3rem;
}

.Button {
  display: flex;
  font-size: 1.25rem;
  padding: 0.75rem;
  color: $color1;
  background-color: $color2;
  border: 0;
}

.Button:hover {
  color: $color3;
  transform: translateY(-1px);
}
