// Color Palette - https://coolors.co/palette/ebe0ff-dac7ff-c7adff-ac8bee-916dd5-7151a9-573d7f-46325d-3f3649
$bg-color: white;
$color1: #46325D;
$color2: #AC8BEE;
$color3: #7151A9;
$color4: #916DD5;
$color5: #EBE0FF;

$font-opacity: 50%;

$font: Helvetica;

$size-1: 5.7rem;
$size-1-1: 4.4rem;
$size-2: 3.7rem;
$size-3: 1.5rem;
$size-4: 1.2rem;
$size-5: 1rem;

$bg-size-1: 7rem;
$bg-size-2: 4rem;

$size-phone-title: 3.25rem;

$padding-phone: 0.75rem;
