$bg-color: white;
$color1: #160040;
$color2: #5a189a;
$color3: #533483;
$color4: #e0aaff;

$font-opacity: 50%;

$font: Helvetica;

$size-1: 4.5rem;
$size-2: 2.7rem;
$size-3: 1.5rem;

$bg-size-1: 7rem;
$bg-size-2: 4rem;
