@import "../theme.scss";

.Intro_container {
  background-color: $bg-color;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.Intro {
  color: $color1;
  align-items: left;

  h1 {
    color: $color1;
    font-family: $font;
    font-size: $size-1;

    // animations
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
  }

  h2 {
    color: $color1;
    font-family: $font;
    font-size: $size-2;

    // animations
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
  }

  h3 {
    color: $color1;
    font-family: $font;
    font-size: $size-3;

    // animations
    animation: fadeIn ease 4s;
    -webkit-animation: fadeIn ease 4s;
    -moz-animation: fadeIn ease 4s;
    -o-animation: fadeIn ease 4s;
    -ms-animation: fadeIn ease 4s;
  }

  h4 {
    color: $color1;
    font-family: $font;
    font-size: $size-3;

    // animations
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
  }

  a img {
    animation: fadeIn ease 6s;
    -webkit-animation: fadeIn ease 6s;
    -moz-animation: fadeIn ease 6s;
    -o-animation: fadeIn ease 6s;
    -ms-animation: fadeIn ease 6s;
  }
}

.Profile_pic {
  margin-top: auto;
  margin-left: auto;
  display: flex;
  min-width: 0rem;
  max-width: 25rem;

  // animations
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}

.Profile_pic img {
  width: 100%;
}

// Media section

@media only screen and (max-width: 55em) {
  .Intro_container {
    padding-left: $padding-phone;
    padding-right: $padding-phone;

    background-image: url(../Img/kendo_profile_clear.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: local;
  }

  .Profile_pic img {
    display: none;
  }

  .Intro h1 {
    margin-top: 0rem;
    margin-bottom: 2rem;
  }

  .Intro h2 {
    margin-bottom: 0;
  }
}

// Animation section

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
