@import "../theme.scss";

.Intro_container {
  background-color: $bg-color;

  display: flex;
  flex-direction: row;
  align-items: center;

  padding-left: 10em;
  padding-right: 10em;

  height: 90vh;
}

.Intro {
  color: $color1;
  flex: 1 1;
  align-items: left;
}

.Intro h1 {
  color: $color1;
  font-family: $font;
  font-size: $size-1;
}
.Intro h2 {
  color: $color1;
  font-family: $font;
  font-size: $size-2;
}
.Intro h3 {
  color: $color1;
  font-family: $font;
  font-size: $size-3;
}
.Intro h4 {
  color: $color1;
  font-family: $font;
  font-size: $size-3;
}

.Profile_pic {
  display: flex;
  flex: 1 1;
  height: 100%;
  width: 100%;

  justify-content: flex-end;
}

.Profile_pic img {
  margin-top: auto;
  width: auto;
  height: 90%;
}
