.Intro_container {
  background-color: #160040;

  display: flex;
  flex-direction: row;
  align-items: center;

  padding-left: 10em;
  padding-right: 10em;
}

.Intro {
  color: white;
  flex: 1 1;
  align-items: left;
}

.Intro h1 {
  color: white;
  font-family: verdana;
  font-size: 400%;
}
.Intro h2 {
  color: white;
  font-family: verdana;
  font-size: 280%;
}
.Intro h3 {
  color: white;
  font-family: verdana;
  font-size: 150%;
}
.Intro h4 {
  color: white;
  font-family: verdana;
  font-size: 150%;
}

.Profile_pic {
  display: block;
  flex: 1 1;
  height: 100%;
  width: 100%;

  text-align: right;
}
