$color1: #5a189a;
$color2: white;
$color3: #533483;

.Projects_container {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;

  padding: 2.5em 10em;
}

.Projects_container h1 {
  color: $color1;
}

.Project_row {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
}

.Project_box {
  background-color: $color3;
  padding: 0.5rem 1.5rem;
  width: 50%;
}
