@import "../theme.scss";

.Projects_container {
  color: $bg-color;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;

  padding: 2.5em 0em;

  h1 {
    color: $color1;
    font-size: $bg-size-2;
  }
}

.Project_display {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  column-gap: 0.4rem;
  row-gap: 0.4rem;
}

.Project_box {
  background-color: $color3;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;

  transition: background-color 0.5s;
}

.Project_box:hover {
  background-color: $color4;
}

@media only screen and (max-width: 55em) {
  .Projects_container {
    h1 {
      font-size: $size-phone-title;
    }

    padding-left: $padding-phone;
    padding-right: $padding-phone;
  }
  .Project_display {
    grid-template-columns: 1fr;
  }

  .Project_box {
    width: auto;
  }
}
